{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ './css/app.css' }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block javascript %}
    <script src={{ "./script/stations_page.js" }}></script>
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="content-container">
            <h1 class="title">Остановки Марий Эл</h1>
            <form>
                <div class="filter-container">
                    {% include 'components/filter.twig' with {
                        label: 'Дороги:',
                        id: 'filter_by_road',
                        options: road_options,
                        selected: form_values.filter_by_road
                    } %}
                    {% include 'components/filter.twig' with {
                        label: 'Расположение:',
                        id: 'filter_by_position',
                        options: position_options,
                        selected: form_values.filter_by_position
                    } %}
                    {% include 'components/filter.twig' with {
                        label: 'Наличие павильона:',
                        id: 'filter_by_pavilion',
                        options: {
                            0: "Нет",
                            1: "Есть"
                        },
                        selected: form_values.filter_by_pavilion
                    } %}
                </div>
            </form>
            {% include 'components/search.twig'%}
            {% include 'components/pagination.twig' %}
            {% include 'components/station_table.twig' with {
                stations
            } %}
        </div>
    </div>
{% endblock %}