<fieldset class="form-item">
    <label class="label" for="searchInput">Поиск:</label>
    <div class="input__container">
        <input placeholder="Поиск по остановкам..." class="search" id="searchInput" value="{{ form_values.search_query }}">
        <button class="input__button" id="sendFormButton">Применить</button>
    </div>
</fieldset>