<table class="table">
    <thead class="table-header">
    <tr class="table-header__row">
        <th class="table-header__cell">Автомобильная дорога</th>
        <th class="table-header__cell">Местоположение остановки, м</th>
        <th class="table-header__cell">Название</th>
        <th class="table-header__cell">Расположение</th>
        <th class="table-header__cell">Наличие павильона</th>
    </tr>
    </thead>
    <tbody class="table-body">
    {% for station in stations %}
        {% include '/components/station_table_item.twig' with {
            id: station.id,
            road: station.road,
            distance: station.distance,
            name: station.name,
            position: station.position,
            with_pavilion: station.with_pavilion
        } %}
    {% endfor %}
    </tbody>
</table>