<table class="table">
    <thead class="table-header">
    <tr class="table-header__row">
        <th class="table-header__cell">
            Автомобильная дорога
            {% include '/components/sort.twig' with {
                field: 'road',
                is_sort_asc: form_values.is_sort_asc
            } %}
        </th>
        <th class="table-header__cell">
            Местоположение остановки, м
            {% include '/components/sort.twig' with {
                field: 'distance',
                is_sort_asc: form_values.is_sort_asc
            } %}
        </th>
        <th class="table-header__cell">
            Название
            {% include '/components/sort.twig' with {
                field: 'station_name',
                is_sort_asc: form_values.is_sort_asc
            } %}
        </th>
        <th class="table-header__cell">Расположение</th>
        <th class="table-header__cell">Наличие павильона</th>
    </tr>
    </thead>
    <tbody class="table-body">
    {% for station in stations %}
        {% include '/components/station_table_item.twig' with {
            id: station.id,
            road: station.road,
            distance: station.distance,
            name: station.name,
            position: station.position,
            with_pavilion: station.with_pavilion
        } %}
    {% endfor %}
    </tbody>
</table>